# Code ownership is not mathematical-review accreditation.
* @Federico2014
/policy/ @Federico2014
/problems/ @Federico2014
/adapters/ @Federico2014
/verifier/ @Federico2014
/schemas/ @Federico2014
/.github/ @Federico2014
/records/ @Federico2014

/environments/ @Federico2014
/proofs/ @Federico2014
